{% extends '_layouts/base.html' %}
{% load verbose_names %}
{% block title %}{{ object }}{% endblock %}
{% block jumbotron %}
<h3>Details for: {{ object }}</h3>
{% endblock %}
{% block content %}
<div class="row">
    <ul class="list-group">    
    <div class="col-md-6">
    {% for name, value in object.get_fields|slice:":6" %}
        <li class="list-group-item"><strong>{% get_verbose_field_name object name %}</strong>: {{ value|urlize }}</li>
    {% endfor %}
    </div>
    <div class="col-md-6">
    {% for name, value in object.get_fields|slice:"6:" %}
        <li class="list-group-item"><strong>{% get_verbose_field_name object name %}</strong>: {{ value|urlize }}</li>
    {% endfor %}
    <li class="list-group-item"><a href="{% url 'person-edit' object.id %}" class="btn btn-info">Edit</a> <a href="{% url 'person-delete' object.id %}" class="btn btn-warning">Delete</a> <a href="{% url "person-list" %}" class="btn btn-default">Back</a></li>
    </div>
    </ul>
</div>
{% endblock %}